.home {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: calc(100vh - 6rem);

  font-size: 18px;

  color: var(--text-primary);

  &--logo {
    height: 300px;
    margin-bottom: 2rem;
  }

  &--title {
    color: var(--text-secondary);
  }

  &--button {
    height: 2rem;
    width: 10rem;

    margin-top: 2rem;

    border: 2px solid;
    border-radius: 22px;
    border-color: var(--button-primary);

    font-weight: bold;

    color: var(--text-inverse);
    background-color: var(--button-primary);

    &:hover {
      cursor: pointer;

      color: var(--button-primary);
      background-color: var(--background);
    }
  }
}
