@use 'colors' as *;

html[data-theme='dark'] {
  --background: #{$gray-900};

  --background-header: #{$gray-800};
  --background-header-active: #{$gray-600};
  --background-header-hover: #{$gray-500};

  --background-inverse: #{$gray-100};

  --text-primary: #{$gray-100};
  --text-secondary: #{$lime-500};
  --text-inverse: #{$gray-900};

  --link: #{$gray-100};
  --link-hover: #{$lime-500};

  --button-primary: #{$lime-600};
}

html[data-theme='light'] {
  --background: #{$gray-100};

  --background-header: #{$gray-900};
  --background-header-active: #{$gray-600};
  --background-header-hover: #{$gray-500};

  --background-inverse: #{$gray-900};

  --text-primary: #{$gray-900};
  --text-secondary: #{$lime-900};
  --text-inverse: #{$gray-100};

  --link: #{$gray-100};
  --link-hover: #{$lime-500};

  --button-primary: #{$lime-600};
}
